<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Система управления заказами в кафе</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'orders:order_list' %}">Список заказов</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'orders:order_create' %}">Создать заказ</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'orders:manage_order_list' %}">Управление заказами</a>
        <a class="p-2 btn btn-outline-primary" href="#">Расчёт выручки</a>
    </nav>
</div>