{% extends "orders/base.html" %}
{% block content %}
<div class="ricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <div class="col-12 text-center">
        <table class="table">
            <h1 class="center">
                Список имеющихся заказов
            </h1>
            <thead>
            <tr>
                <th><h5>ID</h5></th>
                <th><h5>Стол №</h5></th>
                <th><h5>Список блюд</h5></th>
                <th><h5>Общая стоимость</h5></th>
                <th><h5>Статус</h5></th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.table_name }}</td>
                <td>{{ object.get_items|slice:20 }}...</td>
                <td>{{ object.total_price }}р.</td>
                <td>{{ object.get_status_display  }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}